#Box
{
   width: 200px;
   height: 200px;
   margin: 200px;
}

#Box > div
{
    width: 100px;
    height: 100px;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    float: left;
}

#Box1
{
    background-color: lightgreen;
}

#Box2
{
    background-color: lightseagreen;
}

#Box3
{
    background-color: lightsalmon;
}

#Box4
{
    background-color: lightskyblue;
}

#HiddenText
{
    margin-bottom: 90px;
    position: absolute;
}

#Box1:hover {
    transform: rotate(-90deg);
}
#Box2:hover {
    transform:  rotate(90deg);
}
#Box3:hover {
    transform:  rotate(-90deg);
}
#Box4:hover {
    transform: rotate(90deg);
}